In [3]:
from pandas import read_csv, to_datetime

In [4]:
pal_df = read_csv("pal_log.csv")
pal_df.drop(columns=["id", "hex_5"], inplace=True)

In [6]:
pal_df["minute"] = to_datetime(pal_df["timestamp"]).dt.minute
pal_df["hour"] = to_datetime(pal_df["timestamp"]).dt.hour
pal_df["day"] = to_datetime(pal_df["timestamp"]).dt.day
pal_df["month"] = to_datetime(pal_df["timestamp"]).dt.month
pal_df["weekday"] = to_datetime(pal_df["timestamp"]).dt.weekday
pal_df.head()

,hex_1,hex_2,hex_3,hex_4,timestamp,grade,minute,hour,day,month,weekday
0,#480397,#f0c9be,NaN,NaN,2021-06-09 17:02:50.788794,4.0,2,17,9,6,2
1,#ca1a50,#9c26ac,#64c7f5,NaN,2021-06-09 17:03:16.164579,6.0,3,17,9,6,2
2,#faf82f,#4585da,#fe666d,NaN,2021-06-09 17:03:22.807392,5.0,3,17,9,6,2
3,#7089ba,#f293c0,#f890c6,NaN,2021-06-09 17:03:40.673615,3.0,3,17,9,6,2
4,#e7b5bd,#1b2f57,#ed7ca9,#124c01,2021-06-09 17:03:46.663151,3.0,3,17,9,6,2

In [7]:
pal_df_4 = pal_df.dropna()
pal_df_4.head()

,hex_1,hex_2,hex_3,hex_4,timestamp,grade,minute,hour,day,month,weekday
4,#e7b5bd,#1b2f57,#ed7ca9,#124c01,2021-06-09 17:03:46.663151,3.0,3,17,9,6,2
6,#3318ae,#fab9e7,#3c6256,#d7a175,2021-06-09 17:04:03.237885,4.0,4,17,9,6,2
9,#81e706,#82590e,#8bb684,#c5ae2d,2021-06-09 17:04:18.931029,1.0,4,17,9,6,2
12,#74ace9,#db83ea,#8be34b,#0e8fde,2021-06-09 17:04:39.366910,3.0,4,17,9,6,2
14,#f3887a,#5fecf7,#63deca,#73bf6a,2021-06-09 17:15:00.589390,3.0,15,17,9,6,2