In [24]:
from pandas import read_csv

pal_df = read_csv("pal_log.csv")
pal_df.drop(columns=["id", "hex_5"], inplace=True)
pal_df.drop(pal_df.tail(1).index, inplace=True)
pal_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1361 entries, 0 to 1360
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   hex_1      1361 non-null   object
 1   hex_2      1361 non-null   object
 2   hex_3      883 non-null    object
 3   hex_4      445 non-null    object
 4   timestamp  1361 non-null   object
 5   grade      1361 non-null   float64
dtypes: float64(1), object(5)
memory usage: 74.4+ KB

In [13]:
from pandas import to_datetime

pal_df["minute"] = to_datetime(pal_df["timestamp"]).dt.minute
pal_df["hour"] = to_datetime(pal_df["timestamp"]).dt.hour
pal_df["day"] = to_datetime(pal_df["timestamp"]).dt.day
pal_df["month"] = to_datetime(pal_df["timestamp"]).dt.month
pal_df["weekday"] = to_datetime(pal_df["timestamp"]).dt.weekday
pal_df.head()

     hex_1    hex_2    hex_3    hex_4  ... hour  day  month  weekday
0  #480397  #f0c9be      NaN      NaN  ...   17    9      6        2
1  #ca1a50  #9c26ac  #64c7f5      NaN  ...   17    9      6        2
2  #faf82f  #4585da  #fe666d      NaN  ...   17    9      6        2
3  #7089ba  #f293c0  #f890c6      NaN  ...   17    9      6        2
4  #e7b5bd  #1b2f57  #ed7ca9  #124c01  ...   17    9      6        2

[5 rows x 11 columns]

In [14]:
pal_df["count"] = pal_df.count(axis=1)
grouped = pal_df.groupby("count")
cols = pal_df.shape[1] - 4

pal_df_2 = grouped.get_group(cols + 1)
pal_df_2.drop(columns=["hex_3", "hex_4"], inplace=True)

pal_df_3 = grouped.get_group(cols + 2)
pal_df_3.drop(columns=["hex_4"], inplace=True)

pal_df_4 = grouped.get_group(cols + 3)

c:\Users\gorbetw\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [23]:
from webcolors import hex_to_rgb
from colorsys import rgb_to_hls

dataframes = [pal_df_2, pal_df_3, pal_df_4]

for df in dataframes:
    for hex_col in df.columns:
        if 'hex' in hex_col:
            print(hex_col)
            # df[hex_col + '_rgb'] = df[hex_col].apply(hex_to_rgb)

            # Convert RGB to HLS
            # df[hex_col + '_hls'] = df[hex_col + '_rgb'].apply(rgb_to_hls)
            # hls_col=hex_col + '_hls'
            # df[hex_col + '_hue'] = df[hls_col].apply(lambda x: x[0])
            # df[hex_col + '_lightness'] = df[hls_col].apply(lambda x: x[1])
            # df[hex_col + '_saturation'] = df[hls_col].apply(lambda x: x[2])

hex_1
hex_2
hex_1_rgb
hex_2_rgb
hex_1
hex_2
hex_3
hex_1
hex_2
hex_3
hex_4