In [17]:
from pandas import read_csv

pal_df = read_csv("pal_log.csv")
pal_df.drop(columns=["id", "hex_5"], inplace=True)
pal_df.drop(pal_df.tail(1).index, inplace=True)
pal_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1361 entries, 0 to 1360
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   hex_1      1361 non-null   object
 1   hex_2      1361 non-null   object
 2   hex_3      883 non-null    object
 3   hex_4      445 non-null    object
 4   timestamp  1361 non-null   object
 5   grade      1361 non-null   float64
dtypes: float64(1), object(5)
memory usage: 74.4+ KB

In [18]:
from pandas import to_datetime

pal_df["minute"] = to_datetime(pal_df["timestamp"]).dt.minute
pal_df["hour"] = to_datetime(pal_df["timestamp"]).dt.hour
pal_df["day"] = to_datetime(pal_df["timestamp"]).dt.day
pal_df["month"] = to_datetime(pal_df["timestamp"]).dt.month
pal_df["weekday"] = to_datetime(pal_df["timestamp"]).dt.weekday
pal_df.head()

,hex_1,hex_2,hex_3,hex_4,timestamp,grade,minute,hour,day,month,weekday
0,#480397,#f0c9be,NaN,NaN,2021-06-09 17:02:50.788794,4.0,2,17,9,6,2
1,#ca1a50,#9c26ac,#64c7f5,NaN,2021-06-09 17:03:16.164579,6.0,3,17,9,6,2
2,#faf82f,#4585da,#fe666d,NaN,2021-06-09 17:03:22.807392,5.0,3,17,9,6,2
3,#7089ba,#f293c0,#f890c6,NaN,2021-06-09 17:03:40.673615,3.0,3,17,9,6,2
4,#e7b5bd,#1b2f57,#ed7ca9,#124c01,2021-06-09 17:03:46.663151,3.0,3,17,9,6,2

In [19]:
pal_df["count"] = pal_df.count(axis=1)
grouped = pal_df.groupby("count")
cols = pal_df.shape[1] - 4

pal_df_2 = grouped.get_group(cols + 1)
pal_df_2.drop(columns=["hex_3", "hex_4"], inplace=True)

pal_df_3 = grouped.get_group(cols + 2)
pal_df_3.drop(columns=["hex_4"], inplace=True)

pal_df_4 = grouped.get_group(cols + 3)

c:\Users\gorbetw\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [24]:
from webcolors import hex_to_rgb
from colorsys import rgb_to_hls

dataframes = [pal_df_2, pal_df_3, pal_df_4]

for df in dataframes:
    for hex_col in df.columns:
        if 'hex' in hex_col:
            df[hex_col + '_rgb'] = df[hex_col].apply(hex_to_rgb)
            df[hex_col + '_r', hex_col + '_g', hex_col + '_b'] = df[hex_col + '_rgb'].str.split(',', expand=True)
            # df[hex_col + '_hls'] = df[hex_col + '_rgb'].apply(rgb_to_hls)
            # hls_col=hex_col + '_hls'
            # df[hex_col + '_hue'] = df[hls_col].apply(lambda x: x[0])
            # df[hex_col + '_lightness'] = df[hls_col].apply(lambda x: x[1])
            # df[hex_col + '_saturation'] = df[hls_col].apply(lambda x: x[2])

C:\Users\gorbetw\AppData\Local\Temp/ipykernel_31284/1219192557.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[hex_col + '_rgb'] = df[hex_col].apply(hex_to_rgb)

ValueError: Columns must be same length as key

In [25]:
pal_df_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 478 entries, 0 to 1360
Data columns (total 14 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   hex_1                        478 non-null    object
 1   hex_2                        478 non-null    object
 2   timestamp                    478 non-null    object
 3   grade                        478 non-null    float64
 4   minute                       478 non-null    int64
 5   hour                         478 non-null    int64
 6   day                          478 non-null    int64
 7   month                        478 non-null    int64
 8   weekday                      478 non-null    int64
 9   count                        478 non-null    int64
 10  hex_1_rgb                    478 non-null    object
 11  (hex_1_r, hex_1_g, hex_1_b)  0 non-null      float64
 12  hex_2_rgb                    478 non-null    object
 13  (hex_2_r, hex_2_g, hex_2_b)  0 non-null      float64
dtypes: float64(3), int64(6), object(5)
memory usage: 56.0+ KB